header {
    background-color: #03a9f4;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 0 calc(var(--vertical-base) * 3);
    width: 100%;
}

.logo {
    height: 0;
    padding-top: 15vw;
    width: 15vw;
}

.article-list {
    align-content: space-around;
    align-items: baseline;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.article-card {
    background-color: #fff;
    box-shadow: 0 0 3vmin rgba(0, 0, 0, .2);
    height: var(--card-size);
    margin: calc( var(--vertical-base) * 2 ) auto;
    position: relative;
    width: var(--card-size);
}

.article-card .title,
.article-card .eyecatch{
    bottom: 0;
    box-sizing: border-box;
    position: absolute;
    width: inherit;
}

.article-card .title {
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    margin: 0;
}