:root{
    --card-size: 30vmax;
    --vertical-base: 2vh;
}

header {
    background-color: #03a9f4;
    color: #fff;
    height: 15%;
    margin: 0 0 calc(var(--vertical-base) * 3);
    width: 100%;
}

.article-list {
    align-content: space-around;
    align-items: baseline;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.article-card {
    background-color: #fff;
    box-shadow: 0 0 3vmin rgba(0, 0, 0, .2);
    height: var(--card-size);
    margin: calc( var(--vertical-base) * 2 ) auto;
    position: relative;
    width: var(--card-size);
}

.article-card .title,
.article-card .eyecatch{
    bottom: 0;
    box-sizing: border-box;
    position: absolute;
    width: inherit;
}

.article-card .title {
    background-color: rgba(0, 0, 0, .4);
}