article {
    margin: 0 auto;
    width: 96%;
}

.article-header {
    margin: 0 0 calc(var(--vertical-base) * 2);
    width: 100%;
}

.eyecatch {
    width: 100vw;
}

.article-main img {
    margin: var(--vertical-base) auto;
}

.article-main a:hover,
.article-main a:focus{
    border-bottom: solid 1px #03a9f4;
}

.article-main code,
.article-main q,
.article-main blockquote {
    background-color: #ddd;
    border-radius: 3vmin;
    padding: 1em;
}



.article-main h2 {}
.article-main h3 {}
.article-main h4 {}
.article-main h5 {}
.article-main h6 {}