article {
    margin: 0 auto;
    width: 96%;
}

.article-header {
    margin: 0 0 4vh;
    width: 100%;
}

.article-main a:hover,
.article-main a:focus{
    border-bottom: solid 1px #03a9f4;
}

.article-main q,
.article-main blockquote {
    background-color: #ddd;
}